# Guided Project: Exploring Ebay Car Sales Data


In this project I'll work with a dataset of used car listings from the German Ebay's 'classifieds' section. The original dataset was uploaded to Kaggle, but has been  sampled and dirtied by Dataquest for this project. The aim is to clean and analyze the dataset, while getting familiair with using pandas in Jupyter notebook. So...uhm, let's go!

In [1]:
# importing libraries
import numpy as np
import pandas as pd

In [2]:
# reading csv
autos = pd.read_csv("autos.csv", encoding="Latin-1")

In [3]:
# exploring dataset
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## First observations

The dataset we'll be working with has 50,000 rows, each representing a single used car. The index axis has integer labels and each row contains a timestamp for when the information was added to the dataset, but the data doesn't appear to be sorted in any particular order. It contains information on the seller, price, make and model of the car, damage, date the ad was posted and the last time it was seen.

Looking a bit more closely, it seems I have my work cut out for me cleaning the data. The column labels, dates and timestamps all need cleaning and reformatting and some of the columns appear to contain only one value and may be dropped. Also, five of the columns contain null values and a few columns, like price can be converted to either floats or integers.

In [5]:
# column names
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
# clean column names
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

In [7]:
# checking the result
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### What I just did and why

I've changed the column labels from camelcase to snakecase, so I won't have to worry about capitalization later on when calling specific columns. Besides that I've changed a few of the labels to make them easier to read and remember.

In [8]:
# some more exploration
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-29 23:42:13,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

## To Do List

1. Candidate columns to drop (contain mostly just 1 value):
    - seller
    - offer_type
    - nr_of_pictures
2. Columns to investigate:
    - price - 1421 listings have a price of $0
    - registration_year - The min and max value in this column are 1000 and 9999
    - power_ps - it's values range from 0 to 17700
3. Columns containing numeric information stored as text:
    - price
    - odometer

In [9]:
# converting the 'price' and 'odometer' columns to numeric values
autos["price"] = (autos["price"]
                 .str.strip()
                 .str.replace("$", "")
                 .str.replace(",", "")
                 .astype(int)
                 )

autos["odometer"] = (autos["odometer"]
                    .str.strip()
                    .str.replace("km", "")
                    .str.replace(",", "")
                    .astype(int)
                    )

autos.rename({"odometer": "odometer_km"}, axis=1, inplace=True)

In [10]:
# exploring the price column
autos["price"].unique().shape

(2357,)

In [11]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [12]:
autos["price"].value_counts().head(15)

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
999      434
750      433
900      420
650      419
850      410
Name: price, dtype: int64

In [13]:
autos["price"].value_counts().sort_index(ascending=False).head(15)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
Name: price, dtype: int64

In [14]:
# exploring the odometer_km column
autos["odometer_km"].unique().shape

(13,)

In [15]:
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [16]:
autos["odometer_km"].value_counts().head()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
Name: odometer_km, dtype: int64

In [17]:
autos["odometer_km"].value_counts().sort_index(ascending=True).head()

5000     967
10000    264
20000    784
30000    789
40000    819
Name: odometer_km, dtype: int64

### Outliers

Looking at the price and odometer_km columns, only the price column appears to show outliers. There are quite a few listings with a price of 0 dollars or over 100,000 dollars. Unfortunately, the instructions for this project only say to remove the outliers and the rows containing the outliers, instead of replacing the values with None thus keeping the data in the other columns. So before I start cutting away I'd like to take a closer look at these outliers.

In [18]:
# selecting only the rows with a price of 0
autos_zero_price = autos.loc[autos["price"] == 0]

In [19]:
autos_zero_price

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0,control,NaN,2005,NaN,0,NaN,150000,0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,privat,Angebot,0,control,NaN,1990,manuell,0,NaN,5000,0,benzin,opel,NaN,2016-03-28 00:00:00,0,4552,2016-04-07 01:45:48
80,2016-03-09 15:57:57,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,privat,Angebot,0,control,coupe,1999,manuell,99,primera,150000,3,benzin,nissan,ja,2016-03-09 00:00:00,0,66903,2016-03-09 16:43:50
87,2016-03-29 23:37:22,Bmw_520_e39_zum_ausschlachten,privat,Angebot,0,control,NaN,2000,NaN,0,5er,150000,0,NaN,bmw,NaN,2016-03-29 00:00:00,0,82256,2016-04-06 21:18:15
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,privat,Angebot,0,control,cabrio,2011,manuell,0,2_reihe,60000,7,diesel,peugeot,nein,2016-04-05 00:00:00,0,99735,2016-04-07 12:17:34
118,2016-03-12 05:03:00,VW_Sharan_V6_204_PS_Karosse_Rohkarosse_mit_Pap...,privat,Angebot,0,control,bus,2001,manuell,204,sharan,150000,7,benzin,volkswagen,ja,2016-03-12 00:00:00,0,15370,2016-03-12 21:44:23
146,2016-03-22 23:59:28,Ford_Fiesta_rot,privat,Angebot,0,test,kleinwagen,1996,manuell,75,fiesta,20000,8,benzin,ford,NaN,2016-03-22 00:00:00,0,63069,2016-04-01 20:16:38
167,2016-04-02 19:43:45,Suche_VW_Multivan_Innenausstattung_Set_oder_TE...,privat,Angebot,0,control,NaN,2011,NaN,0,transporter,5000,0,NaN,volkswagen,NaN,2016-04-02 00:00:00,0,64739,2016-04-06 19:45:08
180,2016-03-19 10:50:25,Zu_verkaufen,privat,Angebot,0,test,NaN,2016,manuell,98,3_reihe,150000,12,benzin,mazda,ja,2016-03-19 00:00:00,0,30966,2016-03-24 03:17:21
226,2016-03-25 23:52:12,Porsche_911_S_Targa__67er_SWB,privat,Angebot,0,control,cabrio,1967,manuell,160,911,5000,12,benzin,porsche,nein,2016-03-25 00:00:00,0,44575,2016-04-05 14:46:39
234,2016-03-05 16:56:22,Fiat_Punto_Sport,privat,Angebot,0,control,NaN,2016,NaN,0,punto,150000,0,NaN,fiat,NaN,2016-03-05 00:00:00,0,44789,2016-03-17 22:47:09
248,2016-03-08 22:57:53,VW_Passat_zu_verkaufen,privat,Angebot,0,test,kombi,1998,manuell,0,passat,150000,10,benzin,volkswagen,ja,2016-03-08 00:00:00,0,34369,2016-03-29 16:16:18
259,2016-04-03 23:49:58,guenstiges_Auto_/_auch_defekt,privat,Angebot,0,control,NaN,2000,NaN,0,NaN,5000,6,NaN,sonstige_autos,NaN,2016-04-03 00:00:00,0,89269,2016-04-06 07:16:22
301,2016-03-08 20:37:59,Kaufe_alle_Autos_bietet_an,privat,Angebot,0,control,NaN,1990,NaN,0,NaN,5000,0,NaN,sonstige_autos,NaN,2016-03-08 00:00:00,0,13589,2016-04-05 18:44:43
323,2016-03-15 16:54:59,W220_Unfallfahrzeug,privat,Angebot,0,control,limousine,2001,automatik,224,s_klasse,150000,8,NaN,mercedes_benz,NaN,2016-03-15 00:00:00,0,45475,2016-04-06 12:44:20
327,2016-04-03 13:49:21,BMW_Cabrio_318i_/_BMW_318_tds_Touring,privat,Angebot,0,control,NaN,2016,manuell,90,3er,150000,2,diesel,bmw,NaN,2016-04-03 00:00:00,0,39112,2016-04-05 12:46:23
347,2016-04-02 11:48:02,Volvo_TP21__Sugga,privat,Angebot,0,test,suv,1956,NaN,0,andere,100000,0,NaN,volvo,NaN,2016-04-02 00:00:00,0,34414,2016-04-04 09:15:24
366,2016-03-21 20:36:25,Ford_Escort_Express_75__LKW_Zulussung___Diesel...,privat,Angebot,0,control,NaN,2000,NaN,0,andere,90000,0,diesel,ford,NaN,2016-03-21 00:00:00,0,3130,2016-03-28 19:16:45
389,2016-03-08 11:38:52,Vw_polo_classic,privat,Angebot,0,control,limousine,1999,manuell,75,NaN,150000,0,NaN,volkswagen,NaN,2016-03-08 00:00:00,0,14476,2016-03-14 09:16:30
418,2016-03-29 14:43:24,Fiat_SCUDO_8_Sitzer_Bus__Diesel_JTD__80_KW,privat,Angebot,0,test,bus,2003,manuell,80,andere,5000,5,diesel,fiat,nein,2016-03-29 00:00:00,0,35315,2016-04-05 23:47:14
427,2016-03-12 11:44:47,TOP_ZUSTAND_GrunePlakette_Euro4!!!,privat,Angebot,0,test,bus,2005,manuell,101,vivaro,80000,8,diesel,opel,nein,2016-03-12 00:00:00,0,93173,2016-03-12 11:44:47
430,2016-03-18 23:52:40,Winterraeder_FORD,privat,Angebot,0,test,NaN,2007,NaN,0,focus,5000,0,NaN,ford,NaN,2016-03-18 00:00:00,0,40549,2016-03-19 06:47:06
449,2016-04-03 20:59:59,Tausche_gegen_ein_smart.,privat,Angebot,0,test,limousine,2001,manuell,120,golf,150000,8,benzin,volkswagen,nein,2016-04-03 00:00:00,0,60439,2016-04-04 10:31:06
487,2016-03-14 21:41:36,MAG_MICH_KEINER_HABEN_Opel_Omega_B_Caravan_2.0...,privat,Angebot,0,test,kombi,1998,manuell,136,omega,150000,8,benzin,opel,ja,2016-03-14 00:00:00,0,59320,2016-03-17 11:48:08
502,2016-03-25 23:55:24,C32_AMG_C55_C43_w203,privat,Angebot,0,control,kombi,2001,NaN,354,c_klasse,150000,0,benzin,mercedes_benz,NaN,2016-03-25 00:00:00,0,79112,2016-03-26 08:40:35
519,2016-03-28 08:53:58,Verkaufe/Tausche_Seat_Inca__VW_Caddy__aus_2002...,privat,Angebot,0,test,andere,2002,manuell,64,andere,150000,2,diesel,seat,nein,2016-03-28 00:00:00,0,12627,2016-03-28 10:41:01
565,2016-03-20 20:49:36,Tausche_Audi_S3_8p_gegen_Golf_VI_Gti_mit_xenon,privat,Angebot,0,test,NaN,2016,manuell,330,NaN,150000,9,NaN,audi,nein,2016-03-20 00:00:00,0,97488,2016-03-22 00:44:53
593,2016-04-01 21:44:15,CLK_200__BRABUS_Optik,privat,Angebot,0,test,coupe,1998,manuell,136,clk,150000,1,benzin,mercedes_benz,NaN,2016-04-01 00:00:00,0,49191,2016-04-05 19:16:21
660,2016-03-29 21:44:40,Opel_Corsa_B,privat,Angebot,0,test,kleinwagen,1998,manuell,54,corsa,125000,11,benzin,opel,ja,2016-03-29 00:00:00,0,24214,2016-04-06 07:46:43
661,2016-03-18 22:49:48,Renault_Megane_Scenic_1.6_Tuev_12/17,privat,Angebot,0,test,bus,1999,manuell,0,megane,150000,8,benzin,renault,NaN,2016-03-18 00:00:00,0,66346,2016-03-29 16:47:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48882,2016-03-14 23:58:47,SUCHE_AUTO,privat,Angebot,0,control,NaN,2000,NaN,0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,97753,2016-03-30 23:47:43
48889,2016-04-01 10:50:52,Audi_A4_____TueV_09.2016,privat,Angebot,0,control,limousine,1995,manuell,101,a4,150000,2,benzin,audi,nein,2016-04-01 00:00:00,0,86869,2016-04-07 07:46:02
48891,2016-03-20 22:50:14,MB_E_220_CDI__TAUSCHEN_nur_SUV/GELÄNDEWAGEN,privat,Angebot,0,test,kombi,2001,automatik,143,e_klasse,150000,12,diesel,mercedes_benz,ja,2016-03-20 00:00:00,0,38442,2016-03-24 18:16:00
48982,2016-03-08 12:48:33,Bmw_525D_Sport_Pro..Navi,privat,Angebot,0,test,limousine,2010,automatik,204,5er,150000,10,diesel,bmw,NaN,2016-03-08 00:00:00,0,47805,2016-03-11 16:15:39
48985,2016-03-27 08:55:25,Stockcar_Autos_Peugeot,privat,Angebot,0,test,NaN,2007,NaN,60,NaN,5000,0,NaN,peugeot,NaN,2016-03-27 00:00:00,0,17153,2016-04-07 05:17:18
49043,2016-03-07 11:48:55,Opel_Vectra_B_Caravan,privat,Angebot,0,test,kombi,1997,manuell,101,NaN,150000,0,benzin,opel,NaN,2016-03-07 00:00:00,0,48429,2016-03-17 21:20:07
49082,2016-03-13 17:06:58,Passat_35i_b4_in_candy_weiss_original_lack,privat,Angebot,0,test,limousine,1996,manuell,90,NaN,150000,6,NaN,volkswagen,nein,2016-03-13 00:00:00,0,35799,2016-04-04 06:45:30
49254,2016-03-21 10:49:57,Corrado_G60_mit_2e_Motor,privat,Angebot,0,test,NaN,1995,manuell,0,NaN,150000,0,benzin,volkswagen,NaN,2016-03-21 00:00:00,0,53639,2016-03-22 15:18:35
49301,2016-03-20 20:52:40,Golf_3_Variant_Kombi_1.8,privat,Angebot,0,test,NaN,2000,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-20 00:00:00,0,4924,2016-03-30 15:17:15
49342,2016-03-09 20:47:01,Audi_80_b4_S_Color_und_BMW_318ti_compact_Tausc...,privat,Angebot,0,test,NaN,2017,manuell,90,80,150000,10,benzin,audi,ja,2016-03-09 00:00:00,0,25853,2016-03-11 17:45:36
49350,2016-03-19 23:57:15,Golf_II_Diesel,privat,Angebot,0,control,kleinwagen,1991,manuell,54,golf,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,29664,2016-04-06 03:15:23
49404,2016-04-04 03:03:16,Golf_2_BBS_LEDER_KW,privat,Angebot,0,control,limousine,1989,manuell,90,NaN,150000,3,NaN,volkswagen,nein,2016-04-04 00:00:00,0,52062,2016-04-06 08:45:25
49408,2016-03-30 20:57:06,OPEL_ASTRA,privat,Angebot,0,control,NaN,1995,manuell,60,astra,150000,0,benzin,opel,ja,2016-03-30 00:00:00,0,27711,2016-04-05 11:46:06
49479,2016-04-01 23:55:01,Tausch_mit_frischen_TÜV,privat,Angebot,0,control,limousine,1995,manuell,101,a4,150000,5,benzin,audi,nein,2016-04-01 00:00:00,0,27753,2016-04-06 05:16:07
49496,2016-03-26 13:55:28,Bmw_e39_520,privat,Angebot,0,control,limousine,1998,manuell,0,NaN,5000,0,NaN,bmw,NaN,2016-03-26 00:00:00,0,26188,2016-03-26 13:55:28
49504,2016-03-13 19:42:57,Meriva_Lpg_1_6_16v,privat,Angebot,0,control,bus,2004,manuell,101,meriva,150000,10,lpg,opel,ja,2016-03-13 00:00:00,0,27432,2016-03-19 13:16:57
49507,2016-03-16 17:38:32,BMW_528i_E39_Schaltgetriebe_Unfall,privat,Angebot,0,control,limousine,1998,manuell,193,5er,150000,0,NaN,bmw,ja,2016-03-16 00:00:00,0,25541,2016-03-30 08:47:38
49525,2016-03-09 17:59:02,Bmw_e36_318_i_Limo_Ringtool_PS_Tuning,privat,Angebot,0,test,NaN,2000,NaN,160,3er,150000,0,NaN,bmw,NaN,2016-03-09 00:00:00,0,66822,2016-03-15 04:45:26
49538,2016-03-14 10:55:27,Golf_3_mit_Tuev_.....PREISWERT!!!!,privat,Angebot,0,control,limousine,1998,manuell,60,golf,150000,0,benzin,volkswagen,nein,2016-03-14 00:00:00,0,15345,2016-03-14 10:55:27
49551,2016-03-16 23:40:18,Golf_IV_an_Bastler_zuverkaufen__reserviert_,privat,Angebot,0,test,NaN,2016,manuell,0,NaN,150000,6,diesel,volkswagen,nein,2016-03-16 00:00:00,0,4275,2016-03-16 23:40:18
49614,2016-03-09 17:49:39,Verkauf_meine__Audi__A3_.Gegen_tauschen_mit_Di...,privat,Angebot,0,test,NaN,2016,manuell,101,a3,150000,0,benzin,audi,nein,2016-03-09 00:00:00,0,47051,2016-03-10 14:15:53
49739,2016-03-17 15:47:34,Reparaturfaelligen_twingo,privat,Angebot,0,test,NaN,2016,manuell,58,twingo,150000,0,benzin,renault,nein,2016-03-17 00:00:00,0,27412,2016-03-17 15:47:34
49755,2016-04-02 13:46:23,Mercedes_Benz_w202_unfaller,privat,Angebot,0,test,limousine,1998,manuell,136,c_klasse,150000,7,benzin,mercedes_benz,NaN,2016-04-02 00:00:00,0,99441,2016-04-02 13:46:23
49793,2016-03-05 14:58:49,verkaufe_BMW_E_39,privat,Angebot,0,control,kombi,2000,automatik,183,5er,150000,1,benzin,bmw,NaN,2016-03-05 00:00:00,0,13125,2016-03-05 18:47:14
49880,2016-03-30 08:52:57,E39_528i_an_Bastler,privat,Angebot,0,control,NaN,2017,manuell,193,5er,150000,4,NaN,bmw,ja,2016-03-30 00:00:00,0,65468,2016-04-07 01:15:27
49884,2016-03-11 13:55:30,Audi_a6_2.5l__Schnaeppchen_nur_heute,privat,Angebot,0,test,kombi,1999,manuell,150,a6,150000,11,diesel,audi,NaN,2016-03-11 00:00:00,0,27711,2016-03-12 03:17:08
49943,2016-03-16 20:46:08,Opel_astra,privat,Angebot,0,control,NaN,2016,manuell,101,astra,150000,8,benzin,opel,NaN,2016-03-16 00:00:00,0,89134,2016-03-17 19:44:20
49960,2016-03-25 22:51:55,Ford_KA_zu_verschenken_***Reserviert***,privat,Angebot,0,control,kleinwagen,1999,manuell,60,ka,150000,6,benzin,ford,NaN,2016-03-25 00:00:00,0,34355,2016-03-25 22:51:55
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,0,control,cabrio,1983,manuell,70,golf,150000,2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,0,test,NaN,2000,NaN,0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53

In [20]:
# these seem like legit listings, now for those of over 100,000
autos_high_price = autos.loc[autos["price"] > 100000]
autos_high_price

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
514,2016-03-17 09:53:08,Ford_Focus_Turnier_1.6_16V_Style,privat,Angebot,999999,test,kombi,2009,manuell,101,focus,125000,4,benzin,ford,nein,2016-03-17 00:00:00,0,12205,2016-04-06 07:17:35
1878,2016-03-12 16:58:37,Porsche_911_Turbo,privat,Angebot,129000,control,coupe,1995,manuell,408,911,125000,9,benzin,porsche,nein,2016-03-12 00:00:00,0,70180,2016-04-05 04:49:19
2454,2016-03-21 22:51:29,Porsche_911_GT3,privat,Angebot,137999,control,coupe,2010,manuell,435,911,20000,7,benzin,porsche,nein,2016-03-21 00:00:00,0,80636,2016-04-07 05:45:39
2751,2016-03-15 10:52:35,Porsche_911___993_4S,privat,Angebot,120000,control,coupe,1998,manuell,286,911,125000,3,benzin,porsche,nein,2016-03-15 00:00:00,0,25488,2016-04-05 19:47:31
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111,test,limousine,1973,manuell,48,escort,50000,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
7402,2016-03-22 19:48:09,Porsche_911_Carrera_4S_Cabrio_PDK__BOSE__NEU__...,privat,Angebot,115000,test,cabrio,2016,automatik,400,911,5000,3,benzin,porsche,nein,2016-03-22 00:00:00,0,51379,2016-03-26 21:46:46
7814,2016-04-04 11:53:31,Ferrari_F40,privat,Angebot,1300000,control,coupe,1992,NaN,0,NaN,50000,12,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11
8232,2016-04-01 21:50:47,Porsche_993_S_Schalter_BRD_neuwertig,privat,Angebot,128000,test,coupe,1997,manuell,286,911,100000,4,benzin,porsche,nein,2016-04-01 00:00:00,0,81543,2016-04-05 19:46:23
10500,2016-03-17 12:56:38,Porsche_991,privat,Angebot,155000,test,coupe,2013,NaN,476,911,20000,11,NaN,porsche,nein,2016-03-17 00:00:00,0,90768,2016-03-26 23:16:41
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,privat,Angebot,10000000,control,coupe,1960,manuell,368,NaN,100000,1,benzin,sonstige_autos,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
11433,2016-03-30 21:44:21,Audi_R8_V10_plus_5.2_FSI_quattro_S_tronic_Akra...,privat,Angebot,175000,test,coupe,2016,automatik,610,andere,5000,1,benzin,audi,nein,2016-03-30 00:00:00,0,94244,2016-04-05 11:46:33
12682,2016-03-28 22:48:01,Porsche_GT3_RS__PCCB__Lift___grosser_Exklusiv_...,privat,Angebot,265000,control,coupe,2016,automatik,500,911,5000,3,benzin,porsche,nein,2016-03-28 00:00:00,0,70193,2016-04-05 03:44:51
14268,2016-04-01 12:52:27,Porsche_997_GT3_Approved_Lift_Unfallfrei_Mj.2011,privat,Angebot,135000,test,coupe,2010,manuell,435,911,30000,7,benzin,porsche,nein,2016-04-01 00:00:00,0,83684,2016-04-07 09:44:21
14715,2016-03-30 08:37:24,Rolls_Royce_Phantom_Drophead_Coupe,privat,Angebot,345000,control,cabrio,2012,automatik,460,NaN,20000,8,benzin,sonstige_autos,nein,2016-03-30 00:00:00,0,73525,2016-04-07 00:16:26
16964,2016-04-01 16:46:18,Bentley_Continental_Supersports,privat,Angebot,105000,control,coupe,2010,automatik,630,NaN,80000,1,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,70192,2016-04-05 11:49:31
17140,2016-03-05 17:39:22,Mercedes_Benz_SLS_AMG_Roadster_AMG_SPEEDSHIFT_DCT,privat,Angebot,180000,test,cabrio,2012,automatik,571,andere,50000,2,benzin,mercedes_benz,nein,2016-03-05 00:00:00,0,14193,2016-03-20 19:44:36
17540,2016-03-30 00:49:49,Porsche_930_Turbo_classic_analytics_Gutachten_2+,privat,Angebot,105000,test,coupe,1988,manuell,300,911,150000,6,benzin,porsche,nein,2016-03-29 00:00:00,0,76829,2016-04-06 21:18:20
18509,2016-03-27 18:43:02,Porsche_991_GT3,privat,Angebot,169000,control,coupe,2013,automatik,476,911,20000,9,benzin,porsche,nein,2016-03-27 00:00:00,0,83629,2016-04-05 15:15:29
20351,2016-03-22 17:47:59,BMW_Z8_roadster,privat,Angebot,190000,control,cabrio,2000,manuell,400,z_reihe,60000,9,benzin,bmw,nein,2016-03-22 00:00:00,0,14473,2016-04-02 11:44:28
21783,2016-03-26 22:06:24,Porsche_911_Carrera_4S_Cabriolet_PDK,privat,Angebot,115991,test,cabrio,2013,automatik,400,911,10000,5,benzin,porsche,nein,2016-03-26 00:00:00,0,65843,2016-04-07 00:17:34
22060,2016-03-09 00:58:24,Tesla_Model_X90D_Autopilot_Leder_AHK_Kaltwette...,privat,Angebot,114400,test,suv,2016,automatik,0,NaN,5000,3,elektro,sonstige_autos,nein,2016-03-08 00:00:00,0,33335,2016-03-24 09:46:27
22673,2016-03-05 18:40:13,Porsche_911_991_GT3_LED_Licht_Chrono_Navi_Club...,privat,Angebot,163991,test,coupe,2014,automatik,476,911,10000,6,benzin,porsche,nein,2016-03-05 00:00:00,0,51702,2016-03-09 16:45:30
22947,2016-03-22 12:54:19,Bmw_530d_zum_ausschlachten,privat,Angebot,1234566,control,kombi,1999,automatik,190,NaN,150000,2,diesel,bmw,NaN,2016-03-22 00:00:00,0,17454,2016-04-02 03:17:32
24384,2016-03-21 13:57:51,Schlachte_Golf_3_gt_tdi,privat,Angebot,11111111,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,0,18519,2016-03-21 14:40:18
27371,2016-03-09 15:45:47,Fiat_Punto,privat,Angebot,12345678,control,NaN,2017,NaN,95,punto,150000,0,NaN,fiat,NaN,2016-03-09 00:00:00,0,96110,2016-03-09 15:45:47
28090,2016-03-08 19:50:06,Tesla_Model_X_P90D_Signature_Sondermodel__Neuw...,privat,Angebot,194000,test,suv,2016,automatik,0,NaN,5000,3,elektro,sonstige_autos,nein,2016-03-08 00:00:00,0,97990,2016-03-16 04:15:31
29286,2016-03-22 15:58:56,Porsche_911_Turbo_PDK__Sport_Chrono_Garantie_D...,privat,Angebot,104900,control,coupe,2011,automatik,500,911,30000,1,benzin,porsche,nein,2016-03-22 00:00:00,0,42111,2016-04-06 05:45:48
32185,2016-03-25 12:42:09,Porsche_997_GT3_MKII_EIN_SAMMLERSTÜCK_IN_VOLLA...,privat,Angebot,139997,test,coupe,2010,manuell,435,911,20000,3,benzin,porsche,nein,2016-03-25 00:00:00,0,71159,2016-04-06 13:45:07
32840,2016-03-22 08:55:27,Mercedes_Benz_G_500_7G_TRONIC_Cabrio_Desingno_...,privat,Angebot,169999,control,cabrio,2012,automatik,387,g_klasse,40000,3,benzin,mercedes_benz,nein,2016-03-22 00:00:00,0,42655,2016-04-05 20:47:17
33638,2016-03-24 12:54:19,Porsche_911_GT3_RS,privat,Angebot,151990,test,coupe,2007,manuell,415,911,20000,10,benzin,porsche,nein,2016-03-24 00:00:00,0,40479,2016-04-07 03:46:46
33884,2016-03-26 21:55:12,Porsche_911_Carrera_4S_Cabriolet_PDK,privat,Angebot,116000,control,cabrio,2013,automatik,430,911,30000,4,benzin,porsche,nein,2016-03-26 00:00:00,0,4808,2016-03-26 22:46:40
34723,2016-03-23 16:37:29,Porsche_Porsche_911/930_Turbo_3.0__deutsche_Au...,privat,Angebot,299000,test,coupe,1977,manuell,260,911,100000,7,benzin,porsche,nein,2016-03-23 00:00:00,0,61462,2016-04-06 16:44:50
35923,2016-04-03 07:56:23,Porsche_911_Targa_Exclusive_Edition__1_von_15_...,privat,Angebot,295000,test,cabrio,2015,automatik,400,911,5000,6,benzin,porsche,nein,2016-04-03 00:00:00,0,74078,2016-04-03 08:56:20
36818,2016-03-27 18:37:37,Porsche_991,privat,Angebot,350000,control,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-27 00:00:00,0,70499,2016-03-27 18:37:37
37585,2016-03-29 11:38:54,Volkswagen_Jetta_GT,privat,Angebot,999990,test,limousine,1985,manuell,111,jetta,150000,12,benzin,volkswagen,ja,2016-03-29 00:00:00,0,50997,2016-03-29 11:38:54
37840,2016-03-21 10:50:12,Porsche_997,privat,Angebot,220000,test,coupe,2008,manuell,415,911,30000,7,benzin,porsche,nein,2016-03-21 00:00:00,0,69198,2016-04-06 04:46:14
38299,2016-03-28 22:25:25,Glas_BMW_mit_Wasser,privat,Angebot,250000,test,NaN,2015,NaN,0,x_reihe,5000,0,NaN,bmw,NaN,2016-03-28 00:00:00,0,60489,2016-03-28 22:25:25
38814,2016-03-22 16:53:44,Porsche_Porsche_964_TURBO_S_X33_WLS_ab_Werk_35...,privat,Angebot,119500,test,coupe,1992,manuell,355,911,150000,6,benzin,porsche,nein,2016-03-22 00:00:00,0,52062,2016-03-24 00:47:12
39377,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,privat,Angebot,12345678,control,NaN,2018,manuell,95,v40,150000,6,NaN,volvo,nein,2016-03-08 00:00:00,0,14542,2016-04-06 23:17:31
39705,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,privat,Angebot,99999999,control,limousine,1999,automatik,224,s_klasse,150000,9,benzin,mercedes_benz,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30
40918,2016-03-20 18:40:05,Porsche_911_991_GT3_RS,privat,Angebot,198000,test,coupe,2015,automatik,500,911,5000,6,benzin,porsche,nein,2016-03-20 00:00:00,0,51491,2016-03-21 21:46:36
42221,2016-03-08 20:39:05,Leasinguebernahme,privat,Angebot,27322222,control,limousine,2014,manuell,163,c4,40000,2,diesel,citroen,NaN,2016-03-08 00:00:00,0,76532,2016-03-08 20:39:05
43049,2016-03-21 19:53:52,2_VW_Busse_T3,privat,Angebot,999999,test,bus,1981,manuell,70,transporter,150000,1,benzin,volkswagen,NaN,2016-03-21 00:00:00,0,99880,2016-03-28 17:18:28
43282,2016-04-03 18:42:28,Porsche_911_Carrera_4S_Cabriolet_PDK,privat,Angebot,119900,control,cabrio,2014,automatik,400,911,30000,2,benzin,porsche,nein,2016-04-03 00:00:00,0,51465,2016-04-05 18:46:32
43668,2016-03-16 18:47:26,Porsche_993/911_Turbo_WLS_II_Exclusive_S_deuts...,privat,Angebot,197000,control,coupe,1998,manuell,450,911,150000,3,NaN,porsche,nein,2016-03-16 00:00:00,0,46147,2016-04-07 02:44:47
44406,2016-03-15 14:47:26,Mercedes_Benz_170_S_Cabriolet_A__Startklar_fue...,privat,Angebot,120000,control,cabrio,1951,manuell,52,andere,20000,5,benzin,mercedes_benz,nein,2016-03-15 00:00:00,0,1067,2016-04-06 05:15:50
45387,2016-03-18 16:41:22,Porsche_911_GT3__Clubsp._Lift_nur_bis_25.03._v...,privat,Angebot,163500,test,coupe,2015,automatik,476,911,10000,9,benzin,porsche,nein,2016-03-18 00:00:00,0,74078,2016-03-18 16:41:22
47337,2016-04-05 10:25:38,BMW_Z8_roadster,privat,Angebot,259000,test,cabrio,2001,manuell,400,z_reihe,20000,6,benzin,bmw,nein,2016-04-05 00:00:00,0,61462,2016-04-05 12:07:32
47598,2016-03-31 18:56:54,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,privat,Angebot,12345678,control,limousine,2001,manuell,101,vectra,150000,3,benzin,opel,nein,2016-03-31 00:00:00,0,4356,2016-03-31 18:56:54
47634,2016-04-04 21:25:21,Ferrari_FXX,privat,Angebot,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60313,2016-04-05 12:07:37
49391,2016-03-18 00:55:16,"Lamborghini_Gallardo_LP560_4_E_Gear_""Callisto_...",privat,Angebot,109999,test,coupe,2008,automatik,560,NaN,30000,9,benzin,sonstige_autos,nein,2016-03-17 00:00:00,0,96052,2016-04-05 21:46:24
49668,2016-03-31 13:45:02,"Porsche_911__993__Carrera_S_""SONDERMODELL""",privat,Angebot,145000,control,coupe,1998,manuell,286,911,60000,7,benzin,porsche,nein,2016-03-31 00:00:00,0,63179,2016-04-06 06:16:03
49815,2016-03-08 10:06:22,SUCHE_TIPPS___Ford_Mustang_Shelby_GT_350_500_K...,privat,Angebot,130000,control,coupe,1968,NaN,0,mustang,50000,7,benzin,ford,NaN,2016-03-08 00:00:00,0,56070,2016-03-23 23:15:17

### Cutting away

After looking more closely at the columns containing outliers in the price column, I can see that most of the listings are valid. I've decided only to exclude the rows with a price of over 350,000. With the exception of a few Ferrari's, these listings have strange values in the price column.

In [21]:
autos = autos[autos["price"] < 350000]

### Now let's take a look at those timestamps

There are three columns containing timestamps: date_crawled, ad_created and last_seen. Two of these, date_crawled and last_seen, have been added by the crawler that created it and ad_created was crawled from the website. The last_seen column is the last time the ad was seen by the crawler. All timestamps are currently represented as strings and we'll have to convert it into a numerical representation. The registration_year and registration_month columns also represent date values but only contain integers, so we can look at them more easily.

In [22]:
date_crawled = (autos["date_crawled"]
                .str.strip()
                .str[:10]
                .value_counts(normalize=True, dropna=False)
                .sort_index()
               )

ad_created = (autos["ad_created"]
              .str.strip()
              .str[:10]
              .value_counts(normalize=True, dropna=False)
              .sort_index()
             )

last_seen = (autos["last_seen"]
             .str.strip()
             .str[:10]
             .value_counts(normalize=True, dropna=False)
             .sort_index()
            )

date_crawled

2016-03-05    0.025388
2016-03-06    0.013944
2016-03-07    0.035971
2016-03-08    0.033270
2016-03-09    0.033210
2016-03-10    0.032130
2016-03-11    0.032490
2016-03-12    0.036771
2016-03-13    0.015565
2016-03-14    0.036631
2016-03-15    0.033990
2016-03-16    0.029509
2016-03-17    0.031509
2016-03-18    0.013064
2016-03-19    0.034910
2016-03-20    0.037831
2016-03-21    0.037491
2016-03-22    0.032910
2016-03-23    0.032390
2016-03-24    0.029109
2016-03-25    0.031750
2016-03-26    0.032490
2016-03-27    0.031029
2016-03-28    0.034850
2016-03-29    0.034150
2016-03-30    0.033630
2016-03-31    0.031910
2016-04-01    0.033810
2016-04-02    0.035411
2016-04-03    0.038692
2016-04-04    0.036491
2016-04-05    0.013104
2016-04-06    0.003181
2016-04-07    0.001420
Name: date_crawled, dtype: float64

The distribution of dates in this column seems fairly even at first glance but there are a few outliers, most notably for the last three dates.

In [23]:
ad_created

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
2015-12-30    0.000020
2016-01-03    0.000020
2016-01-07    0.000020
2016-01-10    0.000040
2016-01-13    0.000020
2016-01-14    0.000020
2016-01-16    0.000020
2016-01-22    0.000020
2016-01-27    0.000060
2016-01-29    0.000020
2016-02-01    0.000020
2016-02-02    0.000040
2016-02-05    0.000040
2016-02-07    0.000020
2016-02-08    0.000020
2016-02-09    0.000040
2016-02-11    0.000020
2016-02-12    0.000060
2016-02-14    0.000040
2016-02-16    0.000020
2016-02-17    0.000020
2016-02-18    0.000040
2016-02-19    0.000060
2016-02-20    0.000040
2016-02-21    0.000060
                ...
2016-03-09    0.033230
2016-03-10    0.031870
2016-03-11    0.032790
2016-03-12    0.036611
2016-03-13    0.016925
2016-03-14    0.035231
2016-03-15    0.033750
2016-03-16    0.030009
2016-03-17    0.031189
2016-03-18    0.013724
2016-03-19    0.033850
2016-03-20    0.037871
2016-03-21    0.037691
2016-03-22    0.032770
2016-03-23    0.032190
2016-03-24    0.029089
2016-03-25    0.031890
2016-03-26    0.032570
2016-03-27    0.030889
2016-03-28    0.034970
2016-03-29    0.034110
2016-03-30    0.033450
2016-03-31    0.031910
2016-04-01    0.033810
2016-04-02    0.035091
2016-04-03    0.038932
2016-04-04    0.036851
2016-04-05    0.011844
2016-04-06    0.003261
2016-04-07    0.001280
Name: ad_created, Length: 76, dtype: float64

In [24]:
last_seen

2016-03-05    0.001080
2016-03-06    0.004421
2016-03-07    0.005362
2016-03-08    0.007582
2016-03-09    0.009843
2016-03-10    0.010763
2016-03-11    0.012524
2016-03-12    0.023807
2016-03-13    0.008983
2016-03-14    0.012804
2016-03-15    0.015885
2016-03-16    0.016445
2016-03-17    0.027928
2016-03-18    0.007422
2016-03-19    0.015745
2016-03-20    0.020706
2016-03-21    0.020726
2016-03-22    0.021586
2016-03-23    0.018586
2016-03-24    0.019566
2016-03-25    0.019206
2016-03-26    0.016965
2016-03-27    0.016005
2016-03-28    0.020846
2016-03-29    0.022327
2016-03-30    0.024847
2016-03-31    0.023827
2016-04-01    0.023107
2016-04-02    0.024887
2016-04-03    0.025368
2016-04-04    0.024627
2016-04-05    0.124277
2016-04-06    0.220986
2016-04-07    0.130959
Name: last_seen, dtype: float64

In [25]:
autos["registration_year"].describe()

count    49985.000000
mean      2005.075503
std        105.728207
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The minimum and maximum value in registration_year shows there are incorrect values in this column which will need to be removed.

In [26]:
autos["registration_year"].value_counts().sort_index()

1000       1
1001       1
1111       1
1500       1
1800       2
1910       9
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       3
1951       2
1952       1
1953       1
1954       2
1955       2
1956       5
1957       2
1958       4
1959       7
1960      33
1961       6
1962       4
1963       9
        ...
2001    2702
2002    2533
2003    2727
2004    2737
2005    3015
2006    2707
2007    2304
2008    2231
2009    2097
2010    1597
2011    1634
2012    1323
2013     806
2014     665
2015     399
2016    1315
2017    1452
2018     491
2019       3
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       2
9996       1
9999       4
Name: registration_year, Length: 97, dtype: int64

Since the dataset was scraped in 2016, any value higher than that should be inaccurate but because there seem to be quite a few listings with 2017 or 2018, I want to take a closer look at these before I remove them. With the Ford Model T going in production in 1908, I think it's safe to remove any listing with a registration_year before 1910 from this set.

In [27]:
reg_year_2017 = autos.loc[autos["registration_year"] == 2017]
reg_year_2017

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,999,test,NaN,2017,manuell,90,NaN,150000,4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
55,2016-03-07 02:47:54,Mercedes_E320_AMG_zu_Tauschen!,privat,Angebot,1,test,NaN,2017,automatik,224,e_klasse,125000,7,benzin,mercedes_benz,nein,2016-03-06 00:00:00,0,22111,2016-03-08 05:45:44
65,2016-04-04 19:30:39,Ford_Fiesta_zum_ausschlachten,privat,Angebot,250,control,NaN,2017,manuell,65,fiesta,125000,9,benzin,ford,NaN,2016-04-04 00:00:00,0,65606,2016-04-05 12:22:12
68,2016-04-03 17:36:59,Mini_cooper_s_clubman_/vollausstattung_/_Navi/...,privat,Angebot,10990,test,NaN,2017,manuell,174,clubman,100000,0,NaN,mini,nein,2016-04-03 00:00:00,0,83135,2016-04-05 17:26:26
113,2016-04-03 14:58:29,Golf_4_Anfaenger_auto,privat,Angebot,1200,test,NaN,2017,manuell,75,golf,150000,7,NaN,volkswagen,NaN,2016-04-03 00:00:00,0,97656,2016-04-05 14:15:48
197,2016-04-05 10:36:24,VW_Polo_9N_an_Bastler,privat,Angebot,888,control,NaN,2017,manuell,64,polo,20000,7,NaN,volkswagen,ja,2016-04-05 00:00:00,0,58566,2016-04-07 13:16:13
253,2016-03-27 13:25:18,Ford_mondeo_Gas_anlage_mit_TÜV_04.2017,privat,Angebot,2250,test,NaN,2017,manuell,0,mondeo,150000,8,benzin,ford,nein,2016-03-27 00:00:00,0,56575,2016-04-05 15:18:34
348,2016-03-17 20:58:24,VW_Beetle_1.8Turbo_mit_Vollausstattung_und_seh...,privat,Angebot,3750,control,NaN,2017,manuell,150,beetle,150000,7,NaN,volkswagen,nein,2016-03-17 00:00:00,0,45896,2016-03-24 17:17:50
438,2016-03-10 20:36:25,VW_Golf_5_V_1.6_2004_Klima_Tempomat,privat,Angebot,4150,test,NaN,2017,manuell,102,golf,150000,0,benzin,volkswagen,NaN,2016-03-10 00:00:00,0,49377,2016-03-13 03:16:51
454,2016-03-25 09:57:03,Ford_Fiesta_Servo_D3_Kat_86_Steuern_65.000_tkm,privat,Angebot,750,test,NaN,2017,manuell,50,fiesta,70000,0,benzin,ford,NaN,2016-03-25 00:00:00,0,12207,2016-03-26 19:47:15
457,2016-03-15 17:48:39,Mercedes_Benz_W203_C200_Kombi_Kompressor_c_kla...,privat,Angebot,3000,control,NaN,2017,manuell,163,c_klasse,150000,8,NaN,mercedes_benz,NaN,2016-03-15 00:00:00,0,40627,2016-03-21 16:49:25
477,2016-03-31 08:53:34,Citroën_C4,privat,Angebot,3200,control,NaN,2017,manuell,88,NaN,125000,2,NaN,citroen,nein,2016-03-31 00:00:00,0,12459,2016-03-31 10:41:30
545,2016-03-22 18:50:53,Bmw_x5_/__E53,privat,Angebot,4300,test,NaN,2017,automatik,184,x_reihe,150000,7,NaN,bmw,ja,2016-03-22 00:00:00,0,56410,2016-03-23 17:27:19
548,2016-03-10 17:44:57,Peugeot_206_1.9_Hdi_4_Tueren_Tuev_02.17,privat,Angebot,1399,control,NaN,2017,manuell,90,2_reihe,150000,6,NaN,peugeot,nein,2016-03-10 00:00:00,0,48153,2016-03-11 05:44:18
557,2016-03-16 03:36:34,Smart_Fortwo_Passion_MHD,privat,Angebot,4900,test,NaN,2017,automatik,71,fortwo,30000,4,NaN,smart,nein,2016-03-16 00:00:00,0,25474,2016-03-29 15:47:46
568,2016-03-18 09:48:44,PRIMA_ANFÄNGERAUTO_smart_fortwo_cabrio,privat,Angebot,1950,control,NaN,2017,automatik,54,fortwo,125000,12,NaN,smart,nein,2016-03-18 00:00:00,0,25821,2016-04-01 23:47:20
577,2016-04-03 14:49:09,Volkswagen_Golf_3,privat,Angebot,650,test,NaN,2017,manuell,75,golf,150000,1,benzin,volkswagen,NaN,2016-04-03 00:00:00,0,91332,2016-04-05 13:47:38
582,2016-03-31 11:57:46,V10_TDI_TOUAREG,privat,Angebot,7300,control,NaN,2017,automatik,313,touareg,150000,7,NaN,volkswagen,nein,2016-03-31 00:00:00,0,53844,2016-04-02 07:17:28
654,2016-04-01 15:48:34,Ich_verkaufe_meinen_gepflegten_daewoo,privat,Angebot,2000,test,NaN,2017,manuell,0,kalos,100000,5,benzin,daewoo,NaN,2016-04-01 00:00:00,0,10555,2016-04-07 13:50:05
740,2016-04-02 19:49:46,Seat_Leon_zu_verkaufen!,privat,Angebot,2400,control,NaN,2017,manuell,104,leon,150000,2,benzin,seat,ja,2016-04-02 00:00:00,0,44267,2016-04-05 08:55:09
754,2016-03-26 13:47:56,Ford_Ka_Kleinwagen_BJ_2008,privat,Angebot,1850,control,NaN,2017,NaN,60,ka,125000,3,benzin,ford,NaN,2016-03-26 00:00:00,0,42119,2016-03-29 16:16:19
758,2016-03-12 18:42:33,Honda_Civic_mit_TÜV_!!!,privat,Angebot,1200,test,NaN,2017,NaN,90,civic,150000,12,benzin,honda,ja,2016-03-12 00:00:00,0,44532,2016-03-17 21:44:42
765,2016-03-26 11:52:53,BMW_3er_Limousine_mit_1_Jahr_TÜV!!!!,privat,Angebot,1350,control,NaN,2017,manuell,0,3er,150000,3,benzin,bmw,NaN,2016-03-26 00:00:00,0,22846,2016-04-06 00:15:26
871,2016-04-04 19:38:38,Citroen_C2_60_PS,privat,Angebot,1450,test,NaN,2017,manuell,60,c2,150000,3,benzin,citroen,ja,2016-04-04 00:00:00,0,46117,2016-04-04 19:38:38
889,2016-03-12 16:52:19,Verkaufe_Opel_Corsa_C_1_2,privat,Angebot,870,control,NaN,2017,manuell,75,corsa,150000,10,benzin,opel,NaN,2016-03-12 00:00:00,0,94164,2016-03-12 16:52:19
910,2016-03-15 17:52:50,Renault_Kangoo_bj.2007_LPG,privat,Angebot,1500,control,NaN,2017,manuell,75,kangoo,150000,5,NaN,renault,ja,2016-03-15 00:00:00,0,33659,2016-03-21 16:50:39
1030,2016-03-24 20:47:08,Ford_Galaxy___defekt_bastler__,privat,Angebot,450,test,NaN,2017,manuell,116,galaxy,150000,1,benzin,ford,ja,2016-03-24 00:00:00,0,8344,2016-03-24 20:47:08
1040,2016-03-30 19:53:16,Audi_80_B4,privat,Angebot,750,test,NaN,2017,manuell,90,80,150000,9,benzin,audi,nein,2016-03-30 00:00:00,0,92521,2016-04-07 11:45:45
1066,2016-03-06 15:49:03,FORD_ESCORT_KOMBI/TURNIER_TÜV_7.2017,privat,Angebot,999,test,NaN,2017,manuell,75,escort,150000,7,benzin,ford,NaN,2016-03-06 00:00:00,0,58509,2016-03-10 10:47:05
1084,2016-03-13 16:42:45,Golf_3_Cabrio_1.8l,privat,Angebot,750,test,NaN,2017,manuell,90,golf,150000,0,NaN,volkswagen,NaN,2016-03-13 00:00:00,0,49406,2016-03-13 16:42:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48975,2016-03-21 13:44:47,Renault_Espace_iii,privat,Angebot,600,test,NaN,2017,manuell,0,NaN,150000,4,benzin,renault,NaN,2016-03-21 00:00:00,0,42477,2016-03-22 17:46:39
48980,2016-03-28 19:50:38,Toyota_Yaris!!,privat,Angebot,1050,control,NaN,2017,NaN,0,yaris,150000,11,benzin,toyota,NaN,2016-03-28 00:00:00,0,50374,2016-04-01 05:17:46
49003,2016-03-12 12:52:08,Renault_1.Hand_2.0,privat,Angebot,3300,test,NaN,2017,manuell,0,NaN,150000,12,NaN,renault,nein,2016-03-12 00:00:00,0,70327,2016-03-17 11:17:44
49023,2016-03-23 00:49:23,Auto_Audi_A3,privat,Angebot,1900,test,NaN,2017,automatik,125,a3,150000,6,benzin,audi,NaN,2016-03-22 00:00:00,0,40227,2016-04-03 03:16:22
49053,2016-03-15 15:57:37,VOLKSWAGEN_GOLF_1.9_TDI_110_PS,privat,Angebot,5555,control,NaN,2017,manuell,110,golf,150000,4,diesel,volkswagen,NaN,2016-03-15 00:00:00,0,78628,2016-03-16 13:46:03
49054,2016-03-11 23:37:19,Skoda_Fabia_aus_1._Hand,privat,Angebot,5600,test,NaN,2017,manuell,70,fabia,80000,4,benzin,skoda,nein,2016-03-11 00:00:00,0,15926,2016-03-18 07:43:42
49076,2016-03-25 21:39:21,Omega_B_2.0_16v_136_Ps,privat,Angebot,1600,test,NaN,2017,manuell,0,omega,150000,2,benzin,opel,nein,2016-03-25 00:00:00,0,54675,2016-03-28 21:18:59
49108,2016-03-14 22:37:20,TDI_20_L_DIESEL140_PS..AUTOMATICK,privat,Angebot,5500,control,NaN,2017,automatik,0,NaN,150000,1,NaN,volkswagen,nein,2016-03-14 00:00:00,0,90441,2016-03-15 19:47:17
49130,2016-03-09 18:46:05,Renault_Modus,privat,Angebot,2699,test,NaN,2017,manuell,75,modus,150000,6,benzin,renault,NaN,2016-03-09 00:00:00,0,47506,2016-03-14 11:46:09
49154,2016-03-24 17:51:22,Auto_mit_TÜV_bis_September_2017,privat,Angebot,400,control,NaN,2017,manuell,60,ibiza,150000,7,NaN,seat,NaN,2016-03-24 00:00:00,0,50374,2016-04-07 11:16:16
49245,2016-03-26 08:32:30,Audi_A3_1.8T_tausch_moegl.,privat,Angebot,3300,control,NaN,2017,manuell,150,a3,150000,4,NaN,audi,nein,2016-03-26 00:00:00,0,35075,2016-04-05 21:44:36
49259,2016-03-19 18:45:05,Volkswagen_Lupo_TÜV_06.2017_Klima,privat,Angebot,999,test,NaN,2017,manuell,50,lupo,150000,0,benzin,volkswagen,NaN,2016-03-19 00:00:00,0,10713,2016-04-07 05:45:32
49261,2016-03-10 12:51:40,Toyota_aygo,privat,Angebot,2800,test,NaN,2017,manuell,0,aygo,90000,6,benzin,toyota,nein,2016-03-10 00:00:00,0,93055,2016-03-19 19:18:00
49266,2016-03-10 00:54:09,Toyota_Corolla_Verso_7_Sitzer_104.000km_2_2_Di...,privat,Angebot,7699,control,NaN,2017,manuell,177,NaN,125000,12,diesel,toyota,nein,2016-03-09 00:00:00,0,27751,2016-04-05 19:18:39
49342,2016-03-09 20:47:01,Audi_80_b4_S_Color_und_BMW_318ti_compact_Tausc...,privat,Angebot,0,test,NaN,2017,manuell,90,80,150000,10,benzin,audi,ja,2016-03-09 00:00:00,0,25853,2016-03-11 17:45:36
49343,2016-03-12 11:56:55,bmw_320i_touring,privat,Angebot,4400,test,NaN,2017,manuell,0,3er,150000,0,diesel,bmw,NaN,2016-03-12 00:00:00,0,86695,2016-03-25 09:15:38
49347,2016-03-21 20:41:09,Honda_civic_mit_TÜV_3/2017,privat,Angebot,950,control,NaN,2017,manuell,90,civic,150000,0,NaN,honda,nein,2016-03-21 00:00:00,0,99439,2016-03-21 20:41:09
49389,2016-03-10 07:54:10,Astra_G_CC,privat,Angebot,950,control,NaN,2017,NaN,0,astra,150000,0,benzin,opel,NaN,2016-03-10 00:00:00,0,33332,2016-03-25 07:17:25
49522,2016-03-14 10:42:08,Mazda_Demio_zu_verkaufen!_RESERVIERT,privat,Angebot,350,control,NaN,2017,manuell,72,NaN,150000,12,NaN,mazda,nein,2016-03-14 00:00:00,0,32791,2016-03-24 17:45:40
49557,2016-03-19 18:42:28,E320_T_cdi_avangart,privat,Angebot,6250,test,NaN,2017,automatik,205,e_klasse,150000,3,diesel,mercedes_benz,nein,2016-03-19 00:00:00,0,13589,2016-04-07 05:17:42
49561,2016-03-27 11:25:23,Ford_Galaxy_1_8_TDCI_7_Sitze_Paoramadach_DPF_AHK,privat,Angebot,6500,test,NaN,2017,manuell,0,galaxy,150000,6,NaN,ford,NaN,2016-03-27 00:00:00,0,55128,2016-03-30 13:15:32
49653,2016-03-25 20:50:13,Top_zustand_privat,privat,Angebot,1050,control,NaN,2017,manuell,110,scenic,150000,8,benzin,renault,nein,2016-03-25 00:00:00,0,34127,2016-03-28 21:19:07
49662,2016-03-10 11:54:09,Daihatsu_Coure_122tkm_Tuev_1/17_2.Hand,privat,Angebot,333,test,NaN,2017,manuell,0,cuore,125000,0,benzin,daihatsu,NaN,2016-03-10 00:00:00,0,41751,2016-03-12 16:15:59
49689,2016-03-14 15:44:53,VW_GOLF_V_1.9,privat,Angebot,4700,control,NaN,2017,manuell,105,NaN,150000,0,diesel,volkswagen,NaN,2016-03-14 00:00:00,0,22459,2016-03-16 05:45:48
49696,2016-03-08 13:36:21,Audi_A3_1_6_Attraction_mit_TÜV_10/17,privat,Angebot,1250,control,NaN,2017,manuell,101,a3,150000,8,benzin,audi,nein,2016-03-08 00:00:00,0,26624,2016-03-08 21:17:30
49731,2016-03-28 13:40:31,Renault_MEGANE_1.6_16V__neu_ZANHRIEMEN_TOP_ZUS...,privat,Angebot,1700,test,NaN,2017,manuell,0,megane,150000,7,NaN,renault,nein,2016-03-28 00:00:00,0,34123,2016-03-31 21:44:52
49796,2016-03-09 09:38:38,Opel_corsa_1.4_zu_verkaufen,privat,Angebot,4500,test,NaN,2017,manuell,90,corsa,70000,7,benzin,opel,nein,2016-03-09 00:00:00,0,88433,2016-03-17 20:45:08
49841,2016-03-11 15:37:02,Passat_abzugeben.,privat,Angebot,600,test,NaN,2017,manuell,101,passat,150000,7,NaN,volkswagen,NaN,2016-03-11 00:00:00,0,53804,2016-03-11 16:41:14
49880,2016-03-30 08:52:57,E39_528i_an_Bastler,privat,Angebot,0,control,NaN,2017,manuell,193,5er,150000,4,NaN,bmw,ja,2016-03-30 00:00:00,0,65468,2016-04-07 01:15:27
49935,2016-04-01 21:48:20,Mercedes_A_klasse_angemeldet_mit_Tuef_und_Auto...,privat,Angebot,800,test,NaN,2017,automatik,101,a_klasse,150000,9,NaN,mercedes_benz,nein,2016-04-01 00:00:00,0,39108,2016-04-01 21:48:20

In [28]:
reg_year_2018 = autos.loc[autos["registration_year"] == 2018]
reg_year_2018

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
84,2016-03-27 19:52:54,Renault_twingo,privat,Angebot,900,control,NaN,2018,NaN,60,twingo,150000,0,NaN,renault,NaN,2016-03-27 00:00:00,0,40589,2016-04-05 18:46:49
164,2016-03-13 20:39:16,Opel_Meriva__nur_76000_Km__unfallfrei__scheckh...,privat,Angebot,4800,control,NaN,2018,manuell,0,meriva,80000,4,benzin,opel,nein,2016-03-13 00:00:00,0,37627,2016-04-04 16:48:02
390,2016-03-25 12:59:06,Fiat_Bertone_X_1_9__X_1/9__X19__X_19__X1_9__X_19,privat,Angebot,7750,test,NaN,2018,manuell,76,andere,150000,6,benzin,fiat,nein,2016-03-25 00:00:00,0,78239,2016-03-28 12:16:50
802,2016-03-19 11:37:23,Lada_mit_wenig_km_neuem_Tuev_bj_08,privat,Angebot,2100,test,NaN,2018,manuell,0,kalina,150000,0,benzin,lada,NaN,2016-03-19 00:00:00,0,12621,2016-03-21 15:20:00
918,2016-03-15 15:53:56,BMW_114i_Sondermodell,privat,Angebot,14900,control,NaN,2018,manuell,102,1er,40000,3,benzin,bmw,nein,2016-03-15 00:00:00,0,24850,2016-03-22 18:45:17
1121,2016-03-26 21:38:21,Opel_Zafira_A_1.8_Z18XE_HU_02/18_164Tkm_Alu_Klima,privat,Angebot,1650,control,NaN,2018,manuell,125,zafira,150000,9,NaN,opel,NaN,2016-03-26 00:00:00,0,95466,2016-04-06 14:17:56
1551,2016-03-08 07:54:36,Verkaufe_hier_meine_Auto_vw_Passat_2007,privat,Angebot,3200,test,NaN,2018,manuell,140,passat,150000,0,diesel,volkswagen,NaN,2016-03-08 00:00:00,0,29392,2016-03-15 11:47:00
1889,2016-03-11 14:36:58,Golf_2_90PS,privat,Angebot,1950,control,NaN,2018,automatik,90,golf,70000,10,benzin,volkswagen,nein,2016-03-11 00:00:00,0,89155,2016-03-24 19:45:50
1903,2016-04-05 06:56:26,Tausche_Ford_Granada,privat,Angebot,1111,test,NaN,2018,NaN,0,andere,70000,0,benzin,ford,NaN,2016-04-05 00:00:00,0,23623,2016-04-07 10:17:48
2006,2016-03-15 16:46:49,Renault_Twingo_1.2_TÜV_neue,privat,Angebot,1799,control,NaN,2018,manuell,57,twingo,5000,7,NaN,renault,NaN,2016-03-15 00:00:00,0,64297,2016-03-16 14:16:20
2051,2016-03-21 13:40:00,Wartburg_353_W,privat,Angebot,1300,test,NaN,2018,manuell,0,NaN,100000,1,NaN,sonstige_autos,NaN,2016-03-21 00:00:00,0,8606,2016-03-28 08:17:13
2089,2016-03-10 11:38:21,Audi_A4_2_5_v6_NEU_TÜV_&Angemeldet,privat,Angebot,1200,test,NaN,2018,NaN,150,a4,150000,6,benzin,audi,nein,2016-03-10 00:00:00,0,18069,2016-03-14 06:17:35
2093,2016-03-12 14:51:41,Sehr_gepflegter_Fiesta_2007,privat,Angebot,3750,test,NaN,2018,manuell,70,fiesta,125000,9,benzin,ford,NaN,2016-03-12 00:00:00,0,58509,2016-04-07 02:46:43
2545,2016-03-27 15:37:02,VW_Golf5__GTI,privat,Angebot,7900,control,NaN,2018,manuell,200,golf,150000,6,benzin,volkswagen,NaN,2016-03-27 00:00:00,0,71720,2016-04-05 11:48:00
2642,2016-03-07 16:38:32,Seat_arosa_HU_neu!!!_Top_Zustand,privat,Angebot,1050,control,NaN,2018,manuell,50,arosa,150000,8,NaN,seat,nein,2016-03-07 00:00:00,0,12157,2016-03-21 04:16:12
2704,2016-03-31 11:50:17,Audi_A6_1_8_T_mit_LPG_TÜV_3/18_Neu_mit_Scheckh...,privat,Angebot,3100,control,NaN,2018,manuell,150,a6,150000,7,NaN,audi,NaN,2016-03-31 00:00:00,0,27404,2016-04-02 06:46:08
2785,2016-03-30 12:55:06,Seat_Leon,privat,Angebot,4999,control,NaN,2018,manuell,102,leon,100000,8,benzin,seat,NaN,2016-03-30 00:00:00,0,44147,2016-04-07 04:15:40
2886,2016-03-09 01:00:45,Gute_Zustand__TÜV___03/_2018,privat,Angebot,998,test,NaN,2018,manuell,88,NaN,150000,11,NaN,fiat,NaN,2016-03-09 00:00:00,0,63454,2016-04-07 06:16:01
2960,2016-03-15 19:56:49,FIAT_STILO_1.6_16v_TÜV_03.2018_Klima,privat,Angebot,1850,control,NaN,2018,manuell,103,stilo,125000,2,benzin,fiat,nein,2016-03-15 00:00:00,0,47198,2016-04-07 02:44:35
2963,2016-03-19 20:51:45,Audi_80s_zu_verkaufen,privat,Angebot,850,control,NaN,2018,manuell,90,80,100000,0,NaN,audi,NaN,2016-03-19 00:00:00,0,56659,2016-03-27 13:45:19
3033,2016-03-22 14:51:12,VW_FOX_1_2L_Benzin_Scheckheft_gepflegt_2999,privat,Angebot,2999,control,NaN,2018,manuell,55,fox,125000,1,benzin,volkswagen,NaN,2016-03-22 00:00:00,0,21682,2016-03-25 07:15:32
3231,2016-04-02 21:45:26,Golf_3_Cabrio_Blickfang_Scirocco_gruen,privat,Angebot,4500,test,NaN,2018,manuell,101,golf,150000,0,NaN,volkswagen,NaN,2016-04-02 00:00:00,0,68623,2016-04-02 21:45:26
3235,2016-03-28 20:38:11,Bmw730_d___zu_verkaufen,privat,Angebot,8000,control,NaN,2018,automatik,218,7er,150000,1,diesel,bmw,ja,2016-03-28 00:00:00,0,63512,2016-04-07 02:46:55
3392,2016-03-22 21:58:48,Verkaufe_gepflegten_Fiat_Panda,privat,Angebot,2500,control,NaN,2018,manuell,0,panda,150000,0,NaN,fiat,nein,2016-03-22 00:00:00,0,86720,2016-04-06 18:18:03
3399,2016-03-21 19:58:32,Verkaufe_VW_Polo_6N2,privat,Angebot,800,test,NaN,2018,manuell,75,polo,150000,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,0,49076,2016-03-24 09:45:19
3591,2016-03-30 20:42:34,VW_Passat_1_6_FSI_TÜV_neu_in_super_Zustand,privat,Angebot,6300,control,NaN,2018,manuell,115,passat,125000,3,NaN,volkswagen,NaN,2016-03-30 00:00:00,0,21769,2016-04-07 12:45:19
3716,2016-04-01 19:47:45,Nissan_Micra_1.2_Tuev_Neu_Top_Zustand,privat,Angebot,2499,control,NaN,2018,manuell,65,micra,100000,4,NaN,nissan,nein,2016-04-01 00:00:00,0,58099,2016-04-05 16:45:08
3801,2016-03-16 11:37:41,VERKAUFE_Nissan_Xtrail_2.2_Diesel_Gruene_plake...,privat,Angebot,7499,test,NaN,2018,manuell,0,x_trail,150000,4,diesel,nissan,nein,2016-03-16 00:00:00,0,47918,2016-04-06 04:15:37
3848,2016-03-15 22:36:42,BMW_316i___Frisch_TÜV,privat,Angebot,1350,control,NaN,2018,manuell,105,3er,150000,0,NaN,bmw,NaN,2016-03-15 00:00:00,0,87435,2016-04-05 19:47:38
3980,2016-03-24 17:57:43,Citroen_C5__DIESEL__Gruen___TÜV_NEU,privat,Angebot,2000,control,NaN,2018,manuell,133,NaN,150000,3,diesel,citroen,nein,2016-03-24 00:00:00,0,44357,2016-04-07 11:16:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46530,2016-03-05 14:13:18,Sehr_gut_opel,privat,Angebot,799,test,NaN,2018,NaN,0,calibra,20000,0,NaN,opel,NaN,2016-03-03 00:00:00,0,63263,2016-03-06 04:44:37
46716,2016-03-31 17:57:07,Auto_Soda,privat,Angebot,6800,control,NaN,2018,manuell,105,fabia,100000,4,benzin,skoda,NaN,2016-03-31 00:00:00,0,34396,2016-04-06 11:44:43
46809,2016-03-25 21:40:17,Opel_corsa,privat,Angebot,699,test,NaN,2018,manuell,0,corsa,150000,2,benzin,opel,nein,2016-03-25 00:00:00,0,33129,2016-04-03 02:46:17
46811,2016-03-08 15:59:20,Golf_4_1.6_Tuv_bis_1.2018,privat,Angebot,1850,test,NaN,2018,manuell,101,golf,150000,6,NaN,volkswagen,NaN,2016-03-08 00:00:00,0,65428,2016-03-27 10:15:23
46986,2016-03-22 22:55:30,Skoda_Octavia_Combi_Tsi,privat,Angebot,5000,control,NaN,2018,manuell,16011,octavia,150000,2,benzin,skoda,ja,2016-03-22 00:00:00,0,12681,2016-03-23 07:41:08
47016,2016-03-23 17:44:53,Seat_Leon_1M__1_6L_16v,privat,Angebot,2890,control,NaN,2018,manuell,105,leon,150000,12,benzin,seat,nein,2016-03-23 00:00:00,0,27751,2016-04-05 21:46:18
47183,2016-03-19 22:36:59,Renault_Laguna,privat,Angebot,900,test,NaN,2018,manuell,90,laguna,150000,0,NaN,renault,nein,2016-03-19 00:00:00,0,63452,2016-04-06 01:17:38
47258,2016-03-18 21:43:25,Jaguar_xj40,privat,Angebot,3500,control,NaN,2018,automatik,222,x_type,150000,4,NaN,jaguar,nein,2016-03-18 00:00:00,0,89269,2016-04-05 22:47:30
47305,2016-03-10 15:48:33,Renault_Clio_1.2_TOP,privat,Angebot,1599,test,NaN,2018,manuell,58,clio,150000,4,NaN,renault,nein,2016-03-10 00:00:00,0,40627,2016-03-12 20:17:48
47312,2016-03-16 16:44:07,Nur_heute_4000_Audi_A4__TÜV_NEU_3/18_mit_18,privat,Angebot,4300,control,NaN,2018,manuell,131,a4,150000,3,NaN,audi,nein,2016-03-16 00:00:00,0,4157,2016-03-17 14:44:55
47340,2016-03-13 05:36:20,Golf_4_Cabrio_1.6_mit_Automatikgetriebe_und_Tu...,privat,Angebot,1449,control,NaN,2018,automatik,0,golf,150000,5,benzin,volkswagen,nein,2016-03-13 00:00:00,0,48249,2016-04-06 13:46:36
47367,2016-03-17 19:55:53,BMW_318i_compact,privat,Angebot,1899,control,NaN,2018,manuell,102,3er,80000,4,benzin,bmw,nein,2016-03-17 00:00:00,0,48249,2016-04-07 08:15:43
47521,2016-03-12 10:51:25,VW_Caddy_Modell_2008_mit_sehr_guter_Ausstattung.,privat,Angebot,5500,control,NaN,2018,manuell,0,caddy,150000,12,diesel,volkswagen,NaN,2016-03-12 00:00:00,0,99867,2016-03-23 21:45:13
47596,2016-03-08 15:37:02,Volkswagen_fox,privat,Angebot,3600,test,NaN,2018,manuell,50,fox,50000,6,NaN,volkswagen,NaN,2016-03-08 00:00:00,0,27580,2016-04-06 06:46:38
47757,2016-04-03 15:06:18,Ford_Fiesta_1_6_;_101_PS!,privat,Angebot,5500,control,NaN,2018,manuell,101,fiesta,150000,2,benzin,ford,NaN,2016-04-03 00:00:00,0,35708,2016-04-06 21:45:11
47809,2016-04-01 19:47:47,Opel_corsa_tuev_2018,privat,Angebot,1250,control,NaN,2018,manuell,0,corsa,150000,7,benzin,opel,NaN,2016-04-01 00:00:00,0,89077,2016-04-01 19:47:47
47823,2016-04-02 23:51:51,Ford_Focus_mk1_1_8_l_TDDi_HU_02/2018,privat,Angebot,1199,test,NaN,2018,manuell,90,focus,150000,9,diesel,ford,nein,2016-04-02 00:00:00,0,26954,2016-04-07 05:17:44
47876,2016-03-09 17:51:02,e36_Coupe_v8_m60,privat,Angebot,3700,test,NaN,2018,NaN,0,3er,150000,8,benzin,bmw,nein,2016-03-09 00:00:00,0,67271,2016-03-22 03:46:24
47930,2016-04-04 11:49:34,dodge_caliber,privat,Angebot,3999,control,NaN,2018,manuell,0,touareg,150000,6,diesel,volkswagen,NaN,2016-04-04 00:00:00,0,34128,2016-04-06 12:46:55
48065,2016-03-24 19:38:32,VW_Polo_9n,privat,Angebot,2590,control,NaN,2018,manuell,64,polo,150000,11,benzin,volkswagen,nein,2016-03-24 00:00:00,0,26909,2016-03-24 19:38:32
48249,2016-03-21 07:43:37,Mercedes_Benz_Viano_Trend_Diesel_Automatik_kom...,privat,Angebot,12250,control,NaN,2018,automatik,150,viano,150000,5,diesel,mercedes_benz,NaN,2016-03-20 00:00:00,0,15370,2016-04-05 22:45:51
48495,2016-03-07 16:49:34,Audi_A3_2_0fsi._Xenon_Leder_Alufelgen_Pdc,privat,Angebot,5300,control,NaN,2018,manuell,150,NaN,150000,0,NaN,audi,nein,2016-03-06 00:00:00,0,24376,2016-04-05 11:55:30
48598,2016-03-12 18:41:44,VW_T4_Caravelle_Camper_Bulli_Transporter_Lang,privat,Angebot,7500,test,NaN,2018,manuell,151,NaN,150000,4,diesel,volkswagen,nein,2016-03-12 00:00:00,0,29643,2016-04-06 22:45:50
49075,2016-03-18 12:47:25,VW_Golf_2_GT_TÜV_neu_GTi_G60_16V_Special,privat,Angebot,1399,control,NaN,2018,manuell,90,golf,150000,1,NaN,volkswagen,NaN,2016-03-18 00:00:00,0,95460,2016-03-29 12:49:02
49178,2016-03-24 19:58:43,Mazda_323_F_TÜV__neu_2te_Hand_viele_Neuteile,privat,Angebot,1500,control,NaN,2018,manuell,98,3_reihe,150000,6,NaN,mazda,nein,2016-03-24 00:00:00,0,41334,2016-03-27 16:47:05
49218,2016-04-01 19:48:06,Ford_Fiesta_1.3_4/5_Tuerer_16_Monate_Tuev,privat,Angebot,2750,control,NaN,2018,manuell,60,fiesta,125000,4,benzin,ford,nein,2016-04-01 00:00:00,0,58089,2016-04-05 16:45:21
49262,2016-03-26 18:31:21,Opel_vectra,privat,Angebot,2000,test,NaN,2018,NaN,0,NaN,150000,0,NaN,opel,NaN,2016-03-26 00:00:00,0,65549,2016-04-06 18:19:01
49354,2016-04-05 10:31:29,Bmw_e39_523i_mit_neuem_Tuev,privat,Angebot,2499,control,NaN,2018,manuell,174,5er,150000,8,NaN,bmw,nein,2016-04-05 00:00:00,0,65207,2016-04-05 12:27:15
49411,2016-03-28 12:58:19,Renault_twingo_Tuev_neu,privat,Angebot,1550,test,NaN,2018,NaN,0,twingo,100000,0,NaN,renault,NaN,2016-03-28 00:00:00,0,48739,2016-03-28 13:41:18
49770,2016-03-15 12:54:26,VW_Polo_6n_Tuev_Neu!__1.6_75PS,privat,Angebot,999,control,NaN,2018,manuell,75,polo,150000,12,benzin,volkswagen,nein,2016-03-15 00:00:00,0,24321,2016-04-06 02:16:02

As you'll notice, in both reg_year_2017 and reg_year_2018 all vehicle_type values appear to be NaN. Let's see.

In [29]:
reg_year_2017.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,1452,1452,1452,1452,1452.000000,1452,1,1452.0,1272,1452.000000,1248,1452.000000,1452.000000,927,1452,823,1452,1452.0,1452.000000,1452
unique,1450,1411,1,1,NaN,2,1,NaN,2,NaN,167,NaN,NaN,5,37,2,39,NaN,NaN,1447
top,2016-03-21 07:56:38,Opel_Astra,privat,Angebot,NaN,test,kombi,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-03-28 00:00:00,NaN,NaN,2016-04-06 12:46:49
freq,2,4,1452,1452,NaN,751,1,NaN,1060,NaN,165,NaN,NaN,652,378,689,66,NaN,NaN,2
mean,NaN,NaN,NaN,NaN,3402.242424,NaN,NaN,2017.0,NaN,92.442149,NaN,132396.694215,4.621212,NaN,NaN,NaN,NaN,0.0,48597.771350,NaN
std,NaN,NaN,NaN,NaN,4330.582019,NaN,NaN,0.0,NaN,258.813079,NaN,35546.918201,3.892567,NaN,NaN,NaN,NaN,0.0,25472.612226,NaN
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2017.0,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,899.000000,NaN,NaN,2017.0,NaN,0.000000,NaN,125000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,28806.750000,NaN
50%,NaN,NaN,NaN,NaN,1850.000000,NaN,NaN,2017.0,NaN,75.000000,NaN,150000.000000,4.000000,NaN,NaN,NaN,NaN,0.0,47097.000000,NaN
75%,NaN,NaN,NaN,NaN,4499.000000,NaN,NaN,2017.0,NaN,120.000000,NaN,150000.000000,8.000000,NaN,NaN,NaN,NaN,0.0,66782.000000,NaN
max,NaN,NaN,NaN,NaN,48500.000000,NaN,NaN,2017.0,NaN,9011.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99947.000000,NaN

In [30]:
reg_year_2018.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,491,491,491,491,491.000000,491,1,491.0,432,491.000000,416,491.000000,491.000000,281,491,300,491,491.0,491.000000,491
unique,491,482,1,1,NaN,2,1,NaN,2,NaN,102,NaN,NaN,5,34,2,35,NaN,NaN,491
top,2016-03-14 19:54:54,Mitsubishi_colt,privat,Angebot,NaN,control,coupe,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-03-14 00:00:00,NaN,NaN,2016-03-30 21:44:58
freq,1,2,491,491,NaN,256,1,NaN,365,NaN,42,NaN,NaN,199,116,280,28,NaN,NaN,1
mean,NaN,NaN,NaN,NaN,3801.967413,NaN,NaN,2018.0,NaN,113.953157,NaN,130000.000000,4.841141,NaN,NaN,NaN,NaN,0.0,45579.867617,NaN
std,NaN,NaN,NaN,NaN,5732.594754,NaN,NaN,0.0,NaN,721.974970,NaN,36869.875984,3.955778,NaN,NaN,NaN,NaN,0.0,24703.929419,NaN
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2018.0,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1454.000000,NaN
25%,NaN,NaN,NaN,NaN,1225.000000,NaN,NaN,2018.0,NaN,0.000000,NaN,125000.000000,1.000000,NaN,NaN,NaN,NaN,0.0,26650.000000,NaN
50%,NaN,NaN,NaN,NaN,2100.000000,NaN,NaN,2018.0,NaN,75.000000,NaN,150000.000000,4.000000,NaN,NaN,NaN,NaN,0.0,44147.000000,NaN
75%,NaN,NaN,NaN,NaN,4225.000000,NaN,NaN,2018.0,NaN,118.000000,NaN,150000.000000,8.000000,NaN,NaN,NaN,NaN,0.0,64293.000000,NaN
max,NaN,NaN,NaN,NaN,64900.000000,NaN,NaN,2018.0,NaN,16011.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99974.000000,NaN

With the exception of 1 row for each year these listings seem to contain more than 1 incorrect value, so I've decided to remove these listings from the dataset.

In [31]:
autos = autos[autos["registration_year"].between(1910, 2016)]

In [32]:
# now let's look at the distribution of values in the registration_year column
autos["registration_year"].value_counts(normalize=True).sort_index()

1910    0.000187
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000042
1937    0.000083
1938    0.000021
1939    0.000021
1941    0.000042
1943    0.000021
1948    0.000021
1950    0.000062
1951    0.000042
1952    0.000021
1953    0.000021
1954    0.000042
1955    0.000042
1956    0.000104
1957    0.000042
1958    0.000083
1959    0.000146
1960    0.000687
1961    0.000125
1962    0.000083
1963    0.000187
1964    0.000250
1965    0.000354
1966    0.000458
1967    0.000562
1968    0.000541
          ...
1987    0.001562
1988    0.002957
1989    0.003770
1990    0.008227
1991    0.007414
1992    0.008122
1993    0.009268
1994    0.013746
1995    0.027325
1996    0.030074
1997    0.042237
1998    0.051088
1999    0.062439
2000    0.069853
2001    0.056274
2002    0.052754
2003    0.056795
2004    0.057003
2005    0.062793
2006    0.056378
2007    0.047985
2008    0.046465
2009    0.043674
2010    0.033260
2011    0.034031
2012    0.027554
2013    0.016786
2014    0.013850
2015    0.008310
2016    0.027387
Name: registration_year, Length: 78, dtype: float64

As you would expect there is a gradual increase in the number of listings for each year up to the year 2000 after which you can see a gradual decrease up to 2016. 2016 on the other hand shows a dramatic increase in the number of listings.

# Brands

All right, so at this point the guide for this project says to start aggregating the dataset by brands in order to analyse it. Which doesn't really make sense, since we haven't done everything we listed to do at the start. There are still a few columns we can drop and I highly doubt there is a car listed with 17700 horsepower. I could still tke those steps of course, but this project is quite boring and I really want to move on with the course. So here we go, analyzing the set by brand.

In [33]:
autos["brand"].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [34]:
autos["brand"].value_counts().sort_index()

alfa_romeo          318
audi               4149
bmw                5283
chevrolet           274
chrysler            176
citroen             668
dacia               123
daewoo               72
daihatsu            123
fiat               1242
ford               3350
honda               377
hyundai             473
jaguar               76
jeep                108
kia                 341
lada                 29
lancia               52
land_rover           98
mazda               727
mercedes_benz      4579
mini                415
mitsubishi          391
nissan              725
opel               5194
peugeot            1418
porsche             292
renault            2274
rover                65
saab                 77
seat                873
skoda               770
smart               668
sonstige_autos      523
subaru              105
suzuki              284
toyota              599
trabant              75
volkswagen        10185
volvo               444
Name: brand, dtype: int64

In [35]:
brands = autos["brand"].value_counts().sort_index().index
brands

Index(['alfa_romeo', 'audi', 'bmw', 'chevrolet', 'chrysler', 'citroen',
       'dacia', 'daewoo', 'daihatsu', 'fiat', 'ford', 'honda', 'hyundai',
       'jaguar', 'jeep', 'kia', 'lada', 'lancia', 'land_rover', 'mazda',
       'mercedes_benz', 'mini', 'mitsubishi', 'nissan', 'opel', 'peugeot',
       'porsche', 'renault', 'rover', 'saab', 'seat', 'skoda', 'smart',
       'sonstige_autos', 'subaru', 'suzuki', 'toyota', 'trabant', 'volkswagen',
       'volvo'],
      dtype='object')

As we can see all values in the brand column are brands with the exception of sonstige_autos, which translates to 'other cars'. I've decided to look only at the brands and calculate the mean price for each brand. I've sorted the values and created an object to hold the brand names to aggregate by, but first I have to remove the sonstige_autos label.

In [36]:
brands = brands.drop("sonstige_autos")

In [39]:
# lets aggregate

mean_price_brand = {}

for b in brands:
    b_rows = autos[autos["brand"] == b]
    b_mean = int(b_rows["price"].mean())
    mean_price_brand[b] = b_mean

mean_price_brand

{'alfa_romeo': 3984,
 'audi': 9093,
 'bmw': 8102,
 'chevrolet': 6488,
 'chrysler': 3229,
 'citroen': 3699,
 'dacia': 5915,
 'daewoo': 1019,
 'daihatsu': 1556,
 'fiat': 2711,
 'ford': 3652,
 'honda': 3988,
 'hyundai': 5308,
 'jaguar': 11176,
 'jeep': 11434,
 'kia': 5789,
 'lada': 2502,
 'lancia': 3246,
 'land_rover': 19108,
 'mazda': 4010,
 'mercedes_benz': 8485,
 'mini': 10460,
 'mitsubishi': 3333,
 'nissan': 4664,
 'opel': 2876,
 'peugeot': 3039,
 'porsche': 43507,
 'renault': 2395,
 'rover': 1528,
 'saab': 3211,
 'seat': 4296,
 'skoda': 6334,
 'smart': 3542,
 'subaru': 3765,
 'suzuki': 3995,
 'toyota': 5115,
 'trabant': 1552,
 'volkswagen': 5231,
 'volvo': 4757}

A quick analysis of these numbers tells us that asian cars are cheapest, followed by European cars. German cars seem quite decently priced, with Porsche as the exception of course. Landrover also sticks out with a mean price over double that of nearly all other brands. It must be noted that I did not adjust anything to take into account the difference in the number of listings per brand.

## Let's make it a little more interesting before we move on

I'm going to first select the top 5 brands, then calculate the mean mileage and mean price and store the values in seperate dictionairies. From there I'll convert both to series objects and then to a combined dataframe object so I can analyse them next to each other.

In [42]:
top_5_brands  = (autos["brand"]
                 .value_counts()
                 .head(5)
                 .index
                )

top_5_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi'], dtype='object')

In [43]:
mean_price_top_5 = {}

for b in top_5_brands:
    b_rows = autos[autos["brand"] == b]
    b_mean = int(b_rows["price"].mean())
    mean_price_top_5[b] = b_mean

mean_mileage_top_5 = {}

for b in top_5_brands:
    b_rows = autos[autos["brand"] == b]
    b_mean = int(b_rows["odometer_km"].mean())
    mean_mileage_top_5[b] = b_mean

mean_price_top_5

{'audi': 9093,
 'bmw': 8102,
 'mercedes_benz': 8485,
 'opel': 2876,
 'volkswagen': 5231}

In [44]:
mean_mileage_top_5

{'audi': 129287,
 'bmw': 132431,
 'mercedes_benz': 130856,
 'opel': 129223,
 'volkswagen': 128724}

In [45]:
# coverting to series objects
mpt_5_series = pd.Series(mean_price_top_5)
mpt_5_series

audi             9093
bmw              8102
mercedes_benz    8485
opel             2876
volkswagen       5231
dtype: int64

In [46]:
mmt_5_series = pd.Series(mean_mileage_top_5)
mmt_5_series

audi             129287
bmw              132431
mercedes_benz    130856
opel             129223
volkswagen       128724
dtype: int64

In [47]:
top_5_mean_df = pd.DataFrame(mpt_5_series, columns=["mean_price"])
top_5_mean_df

               mean_price
audi                 9093
bmw                  8102
mercedes_benz        8485
opel                 2876
volkswagen           5231

In [48]:
top_5_mean_df["mean_mileage"] = mmt_5_series

In [49]:
print(top_5_mean_df)

               mean_price  mean_mileage
audi                 9093        129287
bmw                  8102        132431
mercedes_benz        8485        130856
opel                 2876        129223
volkswagen           5231        128724

There seems to be no correlation between the mean mileage and mean price of a specific brand of car on this site. The mean mileage is around 130,000 km (yes, expressing mileage in kilometers is strangely ironic) for all brands, eventhough the mean price strongly differs.